Package: com.ghh.unicodefaces
Name: Unicode Faces
Depends: firmware(>=13.0), mobilesubstrate
Conflicts:org.seatanners.unifaces
Version: 3.10-beta1
Architecture: iphoneos-arm
Description: Add Unicode Faces to your Keyboard.
Maintainer: untether
Author: untether
Section: Tweaks
Tags: unifaces,unicode,smileys,unicode faces
